<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  <style> 

  body {
    padding: 50px;
    position: relative;
  }

  .hidden {
    display: none;
  }

  #register {
    overflow-x: hidden;
  }
  </style>
        

 </head>
 <body data-spy="scroll" data-target="#navBar" data-offset="0">
    <nav id="navBar" class="navbar navbar-expand-md navbar-light bg-light fixed-top" >
      <a class="navbar-brand" href="#">PopUp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcollapse" aria-controls="navcollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navcollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#freelancer-cards">All Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contact Us
            </a>


            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-telephone">Info</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="admin-popup@gmail.com" id="drop-email">Direct Message</a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav " id="rightnav">
          <li class="nav-item">
            <a class="nav-link" href="#">Become A Service Provider</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="login">Login</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 hidden" id="loginform">
          <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email">
          <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      </div>
    </nav>

    <div id="modalOne">
      <div class="modal fade" id="modal-telephone" tabindex="-1" role="dialog" aria-labelledby="model-telephoneLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ml-auto" id="model-telephoneLabel">Contact Us</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body my-3" style="text-align: center">
            <h3>Telephone: 0219888637</h3>
            <h3>Email: admin-popup@gmail.com</h3>
          </div>
          <div class="bg-light my-0" style="text-align: center;color: gray" id="modalTelephoneFooter">
            <p>1234 Smith and Western Street<br />Cape Town <br />South Africa</p>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div id="modalTwo">
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
          
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title ml-auto" id="exampleModalLabel">Chat to us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  
   <div class="container py-5 px-0" id="register">
  
    <div class="row">
      <div class="col-sm-12 col-md-8 mx-auto">    
      
      <div class="step well bg-warning" style="padding: 30px; margin-bottom: 0px; border-radius: 0px; border-bottom: none;   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); background-color: #76D7EA">
        <h3 style="text-align: center">Create your account</h3>
            
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-12 col-lg-2 col-form-label">Email</label>
            <div class="col-sm-12 col-lg-8">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
              <label for="inputPassword3" class="col-sm-12 col-lg-2 col-form-label">Password</label>
            <div class="col-sm-12 col-lg-8">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>  
          <div class="form-group row">  
            <label for="inputPassword3" class="col-sm-12 col-lg-2 col-form-label">Confirm Password</label>
            <div class="col-sm-12 col-lg-8">
              <input type="password" class="form-control" id="inputPassword4" placeholder="Confrim Password">
            </div>
          </div>
          <div class="form-group d-flex justify-content-end">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Subsribe to our Newsletter
              </label>
            </div>
          </div>
        </form>
      </div>

      <div class="step well" style="padding: 30px; margin-bottom: 0px; border-radius: 0px; border-bottom: none;   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); background-color: #50BFE6">
        <h3 style="text-align: center">Social Profiles</h3>
     
          <form>
            <div class="form-group row">
              <div class="col-sm-8 mx-auto ">
                <input type="text" class="form-control " name="twitter" placeholder="Twitter" />
                <input type="text" class="form-control my-2" name="facebook" placeholder="Facebook" />
                <input type="text" class="form-control " name="gplus" placeholder="Google Plus" />
              </div>
            </div>
          </form>
      </div>
      <div class="step well" style="padding: 30px; margin-bottom: 0px; border-radius: 0px; border-bottom: none;   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); background-color: #F7468A">
            <h3 style="text-align: center; margin-left: -15px">Personal Details</h3>
            <div class="form-group row mt-4">
              <label for="inputEmail3" class="col-sm-12 col-lg-3 col-form-label">First Name</label>
                <div class="col-sm-12 col-lg-8 ">
                <input type="text" class="form-control" placeholder="First name">
                </div>
              </div>  

              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-12 col-lg-3 col-form-label">Last Name</label>  
                <div class="col-sm-12 col-lg-8">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-12 col-lg-3 col-form-label">Phone Number</label>
              <div class="col-sm-12 col-lg-8">
                <input type="text" class="form-control" id="inputEmail3" placeholder="+2778 0071833">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-12 col-lg-3 col-form-label">Address</label>
              <div class="col-sm-12 col-lg-8">
                <textarea name="address" class="form-control" rows="2"></textarea>
              </div>
            </div>
      </div>  
     </div> 
    </div>
    <div class="row">
      <div class="col-sm-8 mx-auto" >
        <div class="progress" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-top:none; width: 100%; box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.4); height: 25px">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-12 mt-2 d-flex justify-content-center"  id="progressBar">
      <button class="action back btn btn-info" style="margin-right: 10px">Back</button>
      <button class="action next btn btn-info" >Next</button>
      <button class="action submit btn btn-success">Submit</button>
    </div>
    </div>    

   </div>
   <footer class="bg-light d-flex justify-content-center fixed-bottom" >
      <p>Copyright &copy; PopUp 2018</p>
    </footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<script type="text/javascript">
  $(document).ready(function(){
    var current = 1;
    
    widget      = $(".step");
    btnnext     = $(".next");
    btnback     = $(".back"); 
    btnsubmit   = $(".submit");

    // Init buttons and UI
    widget.not(':eq(0)').hide();
    hideButtons(current);
    setProgress(current);

    // Next button click action
    btnnext.click(function(){
      if(current < widget.length){
        widget.show();
        widget.not(':eq('+(current++)+')').hide();
        setProgress(current);
      }
      hideButtons(current);
    })

    // Back button click action
    btnback.click(function(){
      if(current > 1){
        current = current - 2;
        btnnext.trigger('click');
      }
      hideButtons(current);
    })      
  });

  // Change progress bar action
  setProgress = function(currstep){
    var percent = parseFloat(100 / widget.length) * currstep;
    percent = percent.toFixed();
    $(".progress-bar").css("width",percent+"%").html(percent+"%");    
  }

  // Hide buttons according to the current step
  hideButtons = function(current){
    var limit = parseInt(widget.length); 

    $(".action").hide();

    if(current < limit) btnnext.show();
    if(current > 1) btnback.show();
    if (current == limit) { btnnext.hide(); btnsubmit.show(); }
  }
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19096935-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

    
  </body>
</html>

<!--
    <fieldset style="width: 650px; padding: 30px; margin-bottom: 0px; border-radius: 0px; border-bottom: none;   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); background-color: #76D7EA">
      <h2 class="fs-title">Create your account</h2>
      <h3 class="fs-subtitle">Step 1</h3>
      <input type="text" name="email" placeholder="Email" />
      <input type="password" name="pass" placeholder="Password" />
      <input type="password" name="cpass" placeholder="Confirm Password" />
      <input type="button" name="next" class="next action-button" value="Next" />  
    </fieldset>
    <fieldset style="width: 650px; padding: 30px; margin-bottom: 0px; border-radius: 0px; border-bottom: none;   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); background-color: #FAFA37">
      <h2 class="fs-title">Social Profiles</h2>
      <h3 class="fs-subtitle">Step 2</h3>
      <input type="text" name="twitter" placeholder="Twitter" />
      <input type="text" name="facebook" placeholder="Facebook" />
      <input type="text" name="gplus" placeholder="Google Plus" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset style="width: 650px; padding: 30px; margin-bottom: 0px; border-radius: 0px; border-bottom: none;   box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); background-color: #F7468A">
      <h2 class="fs-title">Personal Details</h2>
      <h3 class="fs-subtitle">Step 3</h3>
      <input type="text" name="fname" placeholder="First Name" />
      <input type="text" name="lname" placeholder="Last Name" />
      <input type="text" name="phone" placeholder="Phone" />
      <textarea name="address" placeholder="Address"></textarea>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>*/
-->