{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>PopUp</title>

    <style type="text/css">

      body {
        position: relative;
        padding-top: 0px;
      }
 
      .hidden {
        display: none;
      }
      .body {
        position: relative;
      }
      .jumbotron {
        height: 520px;
        text-align: center;
        background-image: url("{% static 'images/children.jpg' %}");
        border-radius: 0px;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 148px;
      }

      #regText {
        color:gray;
      }

      #search {
        text-align: center;
        width:414px;
        height: 40px;
      }

      #rightdiv {
        padding: 0;
      }

      #searchButton {
        margin-left: 20px;
        height: 40px;
      }

      #middlediv {
        padding-left: 10px;
              }

      #card-img {
        border-radius: 5px;
        padding: 0px;
      }
      .card-body {
        padding-left: 0px;
      }     

      #freelancer-cards {
        background-color: white;
        position: relative;
      }
     /* #freelancer-cards {
        width: 100%;
        height: 700px;
        overflow-y:scroll;

      }
      #freelancer-cards::-webkit-scrollbar { 
    display: none; */
    #icon3 {
      width:100px;
    }

    #about {
      padding-top: 10px;
    }
    
    .rating {
      color:darkgrey;
    }
    .checked {
      color:black;
    }

    #overlay {
    position: absolute; 
    display: none;  Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    border-radius: 5px;

    }

    div.relative {
      position:relative;
      height: 175.718px;
    }
    div.absolute {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    /*
    #snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 1200px;
    }
    .snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
  }
  .snowflake:hover {
    cursor: default;
  }/*
    </style>
  </head>

  <body data-spy="scroll" data-target="#navBar" data-offset="100">

       
    <nav id="navBar" class="navbar navbar-expand-md navbar-light bg-light fixed-top" >
      <a class="navbar-brand" href="#home">PopUp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcollapse" aria-controls="navcollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navcollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#freelancer-cards">All Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contact Us
            </a>


            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-telephone">Info</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="admin-popup@gmail.com" id="drop-email">Direct Message</a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav " id="rightnav">
          <li class="nav-item">
            <a class="nav-link" href="form2">Become A Service Provider</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="form">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="login">Login</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 hidden" id="loginform">
          <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email">
          <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      </div>
    </nav>

    <div id="modalOne">
      <div class="modal fade" id="modal-telephone" tabindex="-1" role="dialog" aria-labelledby="model-telephoneLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ml-auto" id="model-telephoneLabel">Contact Us</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body my-3" style="text-align: center">
            <h3>Telephone: 0219888637</h3>
            <h3>Email: admin-popup@gmail.com</h3>
          </div>
          <div class="bg-light my-0" style="text-align: center;color: gray" id="modalTelephoneFooter">
            <p>1234 Smith and Western Street<br />Cape Town <br />South Africa</p>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="modalTwo">
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
          
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title ml-auto" id="exampleModalLabel">Chat to us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="sender-name" class="col-form-label">Sender:</label>
                    <input type="text" class="form-control" id="sender-name" placeholder="Your Email">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" rows="4" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="jumbotron mb-3" id="home">
      <h1 class="display-4">Share your passion with the world</h1>
      <p class="lead">Register and become a Service provider today</p>
      <a href="form2">
        <button type="button" class="btn btn-danger"><span id="reg-button">Register</span></button>
      </a>
      <hr class="my-4">
      <p>Looking for a service? Search over 45,000+ Services.</p>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-center" id="middlediv">
          <form class="form-inline">
          <div class="form-group" id="form-two">
            <div class="input-group ">
              <input type="search" class="form-control" aria-label="Text input with dropdown button" id="search">
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="searchButton">Search</button>
        </form>
        </div>
      </div>

      <div class="row mt-2 bg-primary">

        <div class="col-3 bg-warning">
          
        </div>
        <div class="col-5" style="margin-left: 20px">
            <form class="form-inline">
          <div class="input-group mb-3 mr-1">
            <div class="input-group-prepend">
                  <button class="btn btn-secondary" type="button" aria-haspopup="true" aria-expanded="false"><span><img src="{% static 'images/svg/si-glyph-pin-location.svg' %}" id="svg-img" style="width: 20px"/></span></button>
            </div>
              <div class="input-group" style="width: 160px">
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Location</option>
                <option value="1">City 1</option>
                <option value="2">City 2</option>
                <option value="3">City 3</option>
              </select>
            </div>
          </div> 

          <div class="input-group mb-3">
          <div class="input-group" style="width: 160px;">
              <select class="custom-select" id="inputGroupSelect02">
                <option selected>Category</option>
                <option value="1">All freelancers</option>
                <option value="2">Category 1</option>
                <option value="3">Category 2</option>
                <option value="3">Category 3</option>

              </select>
          </div>    
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" aria-haspopup="true" aria-expanded="false"><img src="{% static 'images/svg/si-glyph-book-4.svg' %}"/ id="svg-img" style="width: 20px"></button>
            </div>
          </div>
          </form>
        </div>
        <div class="col-4 bg-info">
          
        </div>
        </div>
      </div>
      <div class="row pt-5 mb-4" id="freelancer-cards">
        <div class="container">
          <div class="card-deck">
             <div class="card border-white mr-1 my-4" >
              <div class="relative card-space">
                  <a href="{% url 'post_card' pk=post.pk %}">
                    <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                  </a> 
                <div class="absolute" id="overlay"></div>
              </div>
              <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="card border-white mr-1 my-4">
              <div class="relative card-space">
                <a href="{% url 'post_card' pk=post.pk %}">
                  <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                </a>
                <div class="absolute" id="overlay"></div>
              </div>
              <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="card border-white mr-1 my-4">
              <div class="relative card-space">
                <a href="{% url 'post_card' pk=post.pk %}">
                  <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                </a>
                <div class="absolute" id="overlay"></div>
              </div>
             <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
            </div>
            <div class="card border-white mr-1 my-4">
             <div class="relative card-space">
                <a href="{% url 'post_card' pk=post.pk %}">
                  <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                </a>
                <div class="absolute" id="overlay"></div>
              </div>
              <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
            </div>
          </div> 
          <div class="card-deck">
             <div class="card border-white mr-1 my-4" >
              <div class="relative card-space">
                  <a href="{% url 'post_card' pk=post.pk %}">
                    <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                  </a> 
                <div class="absolute" id="overlay"></div>
              </div>
              <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="card border-white mr-1 my-4">
              <div class="relative card-space">
                <a href="{% url 'post_card' pk=post.pk %}">
                  <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                </a>
                <div class="absolute" id="overlay"></div>
              </div>
              <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="card border-white mr-1 my-4">
              <div class="relative card-space">
                <a href="{% url 'post_card' pk=post.pk %}">
                  <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                </a>
                <div class="absolute" id="overlay"></div>
              </div>
             <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
            </div>
            <div class="card border-white mr-1 my-4">
             <div class="relative card-space">
                <a href="{% url 'post_card' pk=post.pk %}">
                  <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                </a>
                <div class="absolute" id="overlay"></div>
              </div>
              <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
            </div>
          </div>    

          <div class="card-deck">
             <div class="card border-white mr-1 my-4" >
              <div class="relative card-space">
                  <a href="{% url 'post_card' pk=post.pk %}">
                    <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                  </a> 
                <div class="absolute" id="overlay"></div>
              </div>
              <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="card border-white mr-1 my-4">
              <div class="relative card-space">
                <a href="{% url 'post_card' pk=post.pk %}">
                  <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                </a>
                <div class="absolute" id="overlay"></div>
              </div>
              <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
            <div class="card border-white mr-1 my-4">
              <div class="relative card-space">
                <a href="{% url 'post_card' pk=post.pk %}">
                  <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                </a>
                <div class="absolute" id="overlay"></div>
              </div>
             <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
            <div class="card border-white mr-1 my-4">
             <div class="relative card-space">
                <a href="{% url 'post_card' pk=post.pk %}">
                  <img class="card-img-top" src="{% static 'images/water.jpg' %}" alt="Card image cap"> 
                </a>
                <div class="absolute" id="overlay"></div>
              </div>
              <div class="card-body pt-2">
                <div class="rating mb-1">    
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
          </div>
        </div>        
      </div>

     <div class="row bg-light">
       <div class="container-fluid pt-4 mt-3" id="about">
          <h1 style="text-align: center;color: gray">About Us</h1>
          <h4 style="text-align: center;"> Our vision is based on three basic principles </h4>
            <br />
          <div class="row">
            <div class="col-sm-4">
              <img class="card-img-top" src="{% static 'images/icon1.png' %}" alt="Card image cap" id="card-img" style="height: 100px; width: 100px; margin-left: 115px">
              <div class="card-body" style="text-align: center">
                <h5 class="card-title">Integrity</h5>
                <p class="card-text" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <img class="card-img-top" src="{% static 'images/icon2.png' %}" alt="Card image cap" id="card-img" style="height: 100px; width: 100px; margin-left: 115px">
              <div class="card-body" style="text-align: center">
                <h5 class="card-title">Community</h5>
                <p class="card-text" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="col-sm-4">
              <img class="card-img-top" src="{% static 'images/icon3.png' %}" alt="Card image cap" id="card-img" style="height: 100px; width: 100px; margin-left: 115px">
              <div class="card-body" style="text-align: center">
                <h5 class="card-title">Something else</h5>
                <p class="card-text" >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>

           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac maximus dui. Integer id egestas urna. Vestibulum blandit, ex quis iaculis euismod, ligula mauris convallis purus, quis semper tortor erat id eros. Mauris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor. 
           </p>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac maximus dui. Integer id egestas urna. Vestibulum blandit, ex quis iaculis euismod, ligula mauris convallis purus, quis semper tortor erat id eros. Mauris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor. <br>
           </p>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac maximus dui. Integer id egestas urna. Vestibulum blandit, ex quis iaculis euismod, ligula mauris convallis purus, quis semper tortor erat id eros. Mauris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor. <br>
            Lorem ipsum dolor ex quis iaculis euismod, ligula mauris convallis purus, quis semper tortor erat id eros. Mauris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed sit amet, consectetur adipiscing elit. Fusce ac maximus dui. Integer id egestas urna. Vestibulum blandit, quis vestibulum dolor. Mauris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor. Integer id egestas urna. Vestibulum blandit, quis vestibulum dolor. Auris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor.
            </p>
              <div id="demo" class="collapse">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac maximus dui. Integer id egestas urna. Vestibulum blandit, ex quis iaculis euismod, ligula mauris convallis purus, quis semper tortor erat id eros. Mauris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor. <br>
                Lorem ipsum dolor ex quis iaculis euismod, ligula mauris convallis purus, quis semper tortor erat id eros. Mauris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed sit amet, consectetur adipiscing elit. Fusce ac maximus dui. Integer id egestas urna. Vestibulum blandit, quis vestibulum dolor. Mauris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor. Integer id egestas urna. Vestibulum blandit, quis vestibulum dolor. Auris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac maximus dui. Integer id egestas urna. Vestibulum blandit, ex quis iaculis euismod, ligula mauris convallis purus, quis semper tortor erat id eros. Mauris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor. <br>
                </p>
                <br/>
                <p>  
                Lorem ipsum dolor ex quis iaculis euismod, ligula mauris convallis purus, quis semper tortor erat id eros. Mauris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed sit amet, consectetur adipiscing elit. Fusce ac maximus dui. Integer id egestas urna. Vestibulum blandit, quis vestibulum dolor. Mauris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor. Integer id egestas urna. Vestibulum blandit, quis vestibulum dolor. Auris accumsan, eros non placerat lacinia, libero orci convallis lectus, vel eleifend sapien lacus in nunc. Sed quis vestibulum dolor.
                </p>
              </div>   
              <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-secondary d-flex justify-content-center" data-toggle="collapse" data-target="#demo" id="more">Read more</button>
              </div>
          </div>
       
       
     </div>
      <!--<script src="fallingsnow.js"></script>-->
<!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $('#login').click(function(){
            $('#rightnav').toggleClass('hidden');
            $('#loginform').toggleClass('hidden');
        });


       // $('#exampleModal').on('show.bs.modal', function (event) {
       //   var button = $(event.relatedTarget) // Button that triggered the modal
      //    var recipient = 'sender-email@mail.com' // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      //    var modal = $(this)
          //modal.find('.modal-title').text('Chat to us ' + recepient)
      //    modal.find('.modal-body input').val(recipient)
    //    })

      //  $('.card-space').hover(function() {
          //alert('hovering')
      //    $(this).find('#overlay').css("display", "block")}, function () {
      //    $(this).find('#overlay').css("display", "none")
      //  });
        
        
        //alert($('#card-img').css('height'));

        //$('.dropdown-item').click(function(){
           // $('#search').val($(this).html());
       // });
        $(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      console.log("this.hash = " + this.hash);
      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   

      console.log("Offset = " + $(hash).offset() + '\n' + "Offset Top = " + $(hash).offset().top + '\n' + "Window Location" + window.location.hash)
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});


      var el = $('#freelancer-cards');
//var el = document.getElementById("freelancer-cards"); // Or whatever method to get the element

// To set the scroll
el.scrollTop = 558;
el.scrollLeft = 0;

// To increment the scroll
el.scrollTop += 100;
//el.scrollLeft += 100;

        //var el = document.querySelector('#freelancer-cards');

// get scroll position in px
      console.log("The height is: " + $('#about').css('height'));
      </script>
    <footer class="bg-light d-flex justify-content-center mt-3 py-2" >
      <p>Copyright &copy; PopUp 2018</p>
    </footer>
  </body>
</html>