/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:none; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
.navbar-default{
    background-color: #fff;
}
.ad-nav{
    /*background: #408080;*/
    height: 95px;
    overflow: hidden;
}
.ad-thumbs {
    margin-top: 25px;
    position: absolute;
    top: 90px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.ad-gallery .ad-nav:hover .ad-thumbs{
    top: 0px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.ad-gallery{
    margin: auto;
}
.img-box{
    height: 544px;
    background: url(../img/children.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 32px;
}
.navbar{
    margin-bottom: 0px;
}
.ad-caption{
    float: left;
}

.ad-gallery .ad-image-wrapper {
height: 400px;
}


#contact-details {
      height: 424px;
      position: sticky;
      top: 56px;
      border:0.5px solid darkgrey;
      border-radius: 5px;
    }

#more-listings {
    border-radius: 5px;
    border:0.5px solid darkgrey;
}

#img-button{
    margin-top: 474px;
    border: 1px solid grey;
}

#card-img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
}

#card-img-review{
      width: 70px;
      height: 70px;
      border-radius: 50%;
}

.card-img-top {
    border-radius: 0px;
}

.xtext {
      font-size: 20px;
    }
    .xtext-review {
      font-size: 17px;
    }
    .rating {
      color:darkgrey;
    }
    .checked {
      color:black;
    }

    .carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
.carousel-control-next {
    right: 0;
    height: 100px;
    margin: auto;
    width: 105px;
    margin-right: 0px;
}

.carousel-control-prev {
    left: 0;
    height: 100px;
    margin: auto;
    width: 105px;
    margin-left: 0px;
}